body
{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: url("images/background-3.jpg");
    background-size: cover;
    margin: 0;
    padding-bottom: 20px;
    min-width: 320px;
}

body *
{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.logo-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.logo-img {
    width: 14vw;
    max-width: 180px;
    min-width: 30px;
    height: auto;
    margin-right: 5px;
}

.logo-text-img {
    width: 83vw;
    max-width: 1020px;
    min-width: 150px;
    height: auto;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: -10px;
    margin-left: 70px;
    font-size: 22px;
}

.description-text {
    font-family: "Zier";
    margin: 0;
}

.description-star {
    width: 15px;
    height: auto;
    margin-top: -7px;
}

.hr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.hr-text {
    font-family: 'GotikaBlack', sans-serif;
    font-size: 16px;
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
}

.hr-img {
    height: auto;
    width: 85vw;
    max-width: 1050px;
    margin-left: -15px;
}

@media (max-width: 1200px) {
    .description {
        font-size: 2vw;
        margin-top: -1vw;
        margin-left: 7vw;
        gap: 1vw;
    }

    .description-star {
        width: 2vw;
        margin-top: -1vw;
    }

    .hr-text {
        font-size: 1.3vw;
        margin-right: -1vw;
    }

    .hr-img {
        margin-left: 0;
    }
}

main {
    max-width: 1200px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.vanish-text {
    display: none;
}

.vanish-text:checked ~ .ads p,
.vanish-text:checked ~ .articles p {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.ads {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 90vw;
}

@media (max-width: 1300px) {
    .ads {
        max-width: 90vw;
    }
}

.ad
{
    display: flex;
    border: 3px solid #000;
    padding: 5px;
    height: 100px;
    width: 200px;
    box-sizing: border-box;
    align-items: center;
}

.ad-text
{
    font-style: italic;
    font-family: "Inkulinati";
    line-height: .8;
    font-size: 30px;
    margin-left: 5px;
}

.ad-sale-text
{
    letter-spacing: 10px;
    font-family: "ChampionGothic";
    text-transform: uppercase;
    font-size: 37px;
}

.ad-text.description
{
    margin: 0;
    margin-left: 5px;
    line-height: 1.1;
    text-align: center;
    font-family: "FirstReign";
    font-size: 21px;
    font-style: normal;
}

.weather
{
    width: 200px;
    height: 100px;
}

.weather .title
{
    margin-top: 0;
    font-size: 20px;
    font-family: "Inkulinati";
    font-style: bold;
    text-transform: uppercase;
}

.weather .info
{
    margin-left: 2px;
    margin-top: -15px;
    word-spacing: 4px;
    line-height: 17px;
    font-size: 15px;
    text-align: justify;
    font-family: "FirstReign";
}

.weather .info span
{
    font-family: "CloisterBlack";
}

.zodiac
{
    width: 200px;
    height: 100px;
}

.zodiac .title
{
    font-family: "GotikaBlack";
    font-size: 23px;
    margin: 0;
}

.zodiac .info
{
    font-family: "CloisterBlack";
    margin-top: 3px;
    font-size: 18px;
    text-align: justify;
}

.zodiac .info span
{
    font-style: bold;
    font-family: "Zodiac";
}

.zodiac img
{
    position: absolute;
    margin-top: -23px;
    margin-left: 80px;
    transform: rotate(30deg);
}

.newspaper-info {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
}

.newspaper-info p
{
    font-family: "GothicMother";
    font-size: 16px;
    margin-left: 5px;
    margin-top: 20px;
}

.newspaper-info img
{
    cursor: pointer;
}

.newspaper-info span
{
    color: #ffb12a;
}

.device-type
{
    box-sizing: border-box;
    font-family: 'Zier';
    width: 200px;
    height: 100px;
    color: #c3c3c3;
    font-size: 20px;
    text-align: center;
    word-spacing: 7px;
    line-height: 27px;
    border-radius: 2px;
    background-color: #000000;
}

.device-type-text {
    margin: 0;
    margin-top: 12px;
}

@media (max-width: 1150px) {
    .ad {
        grid-area: merch;
    }

    .weather {
        grid-area: weather;
    }

    .zodiac {
        grid-area: zodiac;
    }

    .newspaper-info {
        grid-area: info;
    }

    .device-type {
        grid-area: type;
        width: 800px;
        font-size: 40px;
        line-height: 1;
        margin: 0 auto;
    }

    .device-type-text {
        margin-top: 30px;
    }

    .ads {
        display: grid;
        grid-template-areas: "merch weather zodiac info"
                             "type type type type";
        row-gap: 20px;
    }
}

@media (max-width: 900px) {
    .device-type {
        grid-area: type;
        width: 400px;
        font-size: 37px;
        line-height: 1;
        margin: 0 auto;
    }

    .device-type-text {
        margin-top: 17px;
    }

    .ads {
        display: grid;
        grid-template-areas: "merch weather zodiac"
                             "info type type";
        row-gap: 20px;
    }
}

@media (max-width: 680px) {
    .ads {
        display: grid;
        grid-template-areas: "merch weather"
                             "zodiac info"
                             "type type";
    }
}

@media (max-width: 450px) {
    .device-type {
        width: 200px;
        font-size: 20px;
        line-height: 27px;
    }

    .device-type-text {
        margin-top: 13px;
    }

    .ads {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

.articles
{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 3px solid #000;
    border-radius: 3px;
    width: 95%;
    min-width: 200px;
    margin-top: 5px;
    padding: 5px;
    overflow: hidden;
}

@media (max-width: 360px) {
    .articles {
        width: 300px;
    }
}

.main-title {
    font: 135px "ChampionGothic";
    text-transform: uppercase;
    line-height: .92;
    text-align: center;
    margin: 0;
}

@media (max-width: 530px) {
    .main-title {
        font-size: 75px;
    }
}

.trump-dancing {
    margin: 15px auto;
    max-width: 95%;
    min-width: 150px;
    height: auto;
    border-radius: 8px;
}

.main-text {
    padding: 0 20px;
    column-count: 3;
    column-width: 350px;
    margin-bottom: 0;
    padding-bottom: 0;
    font: 18px "CloisterBlack";
}

.main-text::first-letter
{
    float: left;
    font-weight: normal;
    font-size: 45px;
}

.turn-over {
    font: 30px "ChampionGothic";
    text-transform: uppercase;
    line-height: .88;
}

.chronicles-title {
    font: 35px "Zier";
    text-transform: uppercase;
    word-spacing: 5px;
    padding: 0 10px;
    margin: 0;
    margin-top: 30px;
    text-align: center;
}

.chronicles-info {
    margin-top: 20px;
    display: flex;
    padding: 0 20px;
}

.shvetsovart-photo {
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    border: 3px solid #4b4b4b;
}

.chronicles-text {
    column-count: 3;
    column-width: 250px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font: 18px "CloisterBlack";
}

.chronicles-text::first-letter {
    float: left;
    font-weight: normal;
    font-size: 45px;
}

@media (max-width: 750px) {
    .chronicles-info {
        flex-flow: column;
    }
    
    .shvetsovart-photo {
        float: none;
        margin-right: 0;
        align-self: center;
        width: 80%;
        height: auto;
        margin-bottom: 10px;
    }
}

.bottom-breakliner {
    margin-top: 30px;
    width: 80%;
    height: 10px;
}

.spoilers {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.first-spoiler
{
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.first-spoiler p
{
    margin-top: 0;
    font: 30px "ChampionGothic";
    line-height: .8;
}

.first-spoiler span
{
    margin-left: 10px;
    font-size: 15px;
}

.first-spoiler .digit
{
    font-family: "Inkulinati";
    font-size: 80px;
    margin: 10px 0 0 5px;
}

.second-spoiler
{
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.second-spoiler p
{
    text-transform: uppercase;
    font: 65px "FirstReign";
    font-weight: bold;
    margin: -3px 0 0 0;
}

.second-spoiler .digit
{
    margin-top: -15px;
    font-weight: normal;
    font: 90px "CloisterBlack";
}

.third-spoiler
{
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.third-spoiler p
{
    font: 40px "GothicMother";
    line-height: .9;
    letter-spacing: 3px;
    margin: 10px 0 0 0;
}

.third-spoiler .digit
{
    margin: -17px 0 0 5px;
    font: 80px "ChampionGothic";
}

.fourth-spoiler
{
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.fourth-spoiler p
{
    margin: 5px 0 0 0;
    font: 35px "Zier";
    font-weight: bold;
    text-align: right;
}

.fourth-spoiler p span
{
    font-size: 22px;
}

.fourth-spoiler .digit
{
    font: 100px "ParselTongue";
    font-weight: bold;
    margin: -20px 0 0 10px;
    transform: rotate(-15deg);
}

@media (max-width: 1100px) {
    .spoilers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .spoilers {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }

    body {
        width: 210mm;
        height: 297mm;
        background-image: url("images/background-3.jpg");
        background-size: cover;
        margin: auto;
        padding-bottom: 0;
    }

    .logo-img {
        margin-right: 5px;
        width: 100px;
        height: 107px;
    }

    .logo-text-img {
        width: 625px;
        height: 97px;
    }

    .description-text {
        margin-top: 5px;
        font-size: 15px;
    }

    .description-star {
        width: 10px;
        height: 11px;
        margin-top: 2px;
    }

    .hr
    {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-left: 10px;
    }

    .hr-img
    {
        width: 630px;
        margin-left: -10px;
        margin-top: -18px;
    }

    .hr-text {
        font-size: 10px;
        font-family: "GotikaBlack";
        transform: rotate(180deg);
        margin-right: 0px;
        margin-left: 0px;
        margin-top: -13px;
    }

    .ads
    {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        height: 75px;
        margin-bottom: 0;
    }

    .ads section {
        width: 150px;
    }

    .ad {
        height: 75px;
    }

    .ad-text.description {
        font-size: 15px;
    }

    .weather {
        height: 75px;
    }

    .weather .title {
        font-size: 13px;
    }

    .weather .info {
        font-size: 10px;
        line-height: 16px;
    }

    .zodiac .title {
        font-size: 16px;
    }

    .zodiac .info {
        font-size: 12px;
    }

    .zodiac img {
        width: 10px;
        height: 11px;
        margin-top: -15px;
        margin-left: 55px;
    }

    .newspaper-info {
        height: 75px;
    }

    .newspaper-info img {
        width: 60px;
        height: 60px;
    }

    .newspaper-info p {
        margin-left: 3px;
        font-weight: normal;
        font-size: 10px;
    }

    .device-type {
        height: 75px;
    }

    .device-type-text {
        padding: 10px 3px;
        margin: 0;
        font-size: 15px;
    }

    .articles
    {
        border: 3px solid #000;
        border-radius: 3px;
        width: 710px;
        height: 850px;
        padding: 5px;
        overflow: hidden;
        margin-top: 10px;
    }

    .main-title {
        font-size: 49px;
    }

    .trump-dancing {
        height: 250px;
        margin-bottom: 10px;
    }

    .main-text {
        margin: 0;
        font-size: 10px;
        column-count: 3;
        column-width: 200px;
    }

    .chronicles-title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .chronicles-info {
        margin-top: 0;
    }

    .chronicles-text {
        font-size: 14px;
        column-count: 2;
        column-width: 200px;
    }

    .bottom-breakliner {
        margin-top: 15px;
    }

    .spoilers {
        display: flex;
    }

    .first-spoiler
    {
        float: left;
        display: flex;
        margin: 0 0 0 30px;
        padding: 0;
    }

    .first-spoiler p
    {
        margin-top: 0;
        font: 20px "ChampionGothic";
        line-height: .8;
    }

    .first-spoiler span
    {
        margin-left: 10px;
        font-size: 15px;
    }

    .first-spoiler .digit
    {
        font-family: "Inkulinati";
        font-size: 60px;
        margin: 5px 0 0 0;
    }

    .second-spoiler
    {
        float: left;
        display: flex;
        margin: 0 0 0 50px;
        padding: 0;
    }

    .second-spoiler p
    {
        text-transform: uppercase;
        font: 45px "FirstReign";
        font-weight: bold;
        margin: -3px 0 0 0;
    }

    .second-spoiler .digit
    {
        margin-top: -15px;
        font-weight: normal;
        font: 65px "CloisterBlack";
    }

    .third-spoiler
    {
        float: left;
        display: flex;
        margin: 0 0 0 40px;
        padding: 0;
    }

    .third-spoiler p
    {
        font: 20px "GothicMother";
        line-height: .9;
        letter-spacing: 3px;
        margin: 10px 0 0 0;
    }

    .third-spoiler .digit
    {
        margin: -17px 0 0 5px;
        font: 55px "ChampionGothic";
    }

    .fourth-spoiler
    {
        float: left;
        display: flex;
        margin: 0 0 0 20px;
        padding: 0;
    }

    .fourth-spoiler p
    {
        margin: 5px 0 0 0;
        font: 20px "Zier";
        font-weight: bold;
        text-align: right;
    }

    .fourth-spoiler p span
    {
        font-size: 12px;
    }

    .fourth-spoiler .digit
    {
        font: 70px "ParselTongue";
        font-weight: bold;
        margin: -20px 0 0 5px;
        transform: rotate(-15deg);
    }
}

@font-face
{
    font-family: "ParselTongue";
    src: url("fonts/PARSELTO.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "GothicMother";
    src: url("fonts/Gothic-Mother.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "Inkulinati";
    src: url("fonts/Inkulinati-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "Zier";
    src: url("fonts/ZierinitialenTwo.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "ChampionGothic";
    src: url("fonts/ChampionGothic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "GotikaBlack";
    src: url("fonts/GotikaBlack.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "CloisterBlack";
    src: url("fonts/CloisterBlackLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "FirstReign";
    src: url("fonts/FirstReign.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "Zodiac";
    src: url("fonts/ZodiacSigns.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}